@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

/* - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) */

:root {
  --darkBlue: hsl(209, 23%, 22%);
  --darkBG: hsl(207, 26%, 17%);
  --darkTxt: hsl(0, 0%, 7%);
  --darkGray: hsl(0, 0%, 52%);
  --lightBG: hsl(0, 0%, 98%);
  --whiteTxt: hsl(0, 0%, 100%);
}

body.light-mode {
  background-color: var(--lightBG);
  color: var(--darkTxt);
}

/* Dark modu için stil kuralları */
body.dark-mode {
  background-color: var(--darkBG);
  color: var(--whiteTxt);
}

body.dark-mode input,
body.dark-mode select,
body.dark-mode button {
  background-color: var(--darkBlue);
  color: var(--whiteTxt);
}

input {
  background-image: url(/icons8-search.svg);
  background-repeat: no-repeat;
  background-position: 24px;
  background-color: white;
  border: none;
}
